.buttons > * {
    margin: .75rem 0;
    font-weight: bold;
    font-size: 1.5em;
}

#calc-display {
    min-height: 100px;
    overflow: auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.button {
    font-size: 1em;
}
